
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>company invoice - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            background: #eee
        }
        thead {
            background-color: rgba(121,169,197,.92)!important;
            color: #FFFFFF;
        }
    </style>
</head>
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="p-3 bg-white rounded">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="text-uppercase">Order id: {{ productOrders.id }}</h1>
                        <div class="billed"><span class="font-weight-bold text-uppercase">Provider:</span><span class="ml-1">{{ productOrders.provider.firstName }} {{ productOrders.provider.lastName }}</span></div>
                        <div class="billed"><span class="font-weight-bold text-uppercase">E-mail:</span><span class="ml-1">{{ productOrders.provider.email }}</span></div>
                        <div class="billed"><span class="font-weight-bold text-uppercase">Phone:</span><span class="ml-1">{{ productOrders.provider.phone }}</span></div>
                        <div class="billed"><span class="font-weight-bold text-uppercase">Adress:</span><span class="ml-1">{{ productOrders.provider.address }}</span></div>
                        <div class="billed"><span class="font-weight-bold text-uppercase">Created At:</span><span class="ml-1">{{productOrders.createdAt|date('d/m/y')}}</span></div>
                    </div>
                </div>
                <div class="mt-3">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Product</th>
                                <th>Unit</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set detail = 0 %}
                            {% set sum = 0 %}
                            {% for providerOrderQuantity in productOrders.providerOrdersQuantities %}
                                {% set sum = sum + (providerOrderQuantity.product.price *  providerOrderQuantity.quantity ) %}
                                {% set detail =  (providerOrderQuantity.product.price *  providerOrderQuantity.quantity ) %}
                                {% if loop.index % 2 == 0 %}
                                    <tr>
                                {% else %}
                                    <tr class="table-active">
                                {% endif %}

                                    <td >{{ providerOrderQuantity.product.id }}</td>
                                    <td >{{ providerOrderQuantity.product.name }}</td>
                                    <td>{{ providerOrderQuantity.quantity }}</td>
                                    <td>{{ providerOrderQuantity.product.price }} DT</td>
                                    <td>{{ detail }}</td>
                                </tr>
                            {% endfor %}

                            <div class="text-95 text-secondary-d3">
                                <div class="row mb-2 mb-sm-0 py-25">
                                    <div class="d-none d-sm-block col-1"></div>
                                    <div class="col-9 col-sm-5"></div>
                                    <div class="d-none d-sm-block col-2"></div>
                                    <div class="d-none d-sm-block col-2 text-95"></div>
                                </div>



                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="text-right mb-3"><b>Total : {{ sum }}</b></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>